body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first-frame {
    background-image: radial-gradient(circle, #ffd51e, #e4be19, #c9a713, #af910e, #957b09);
    height: 100vh;
    width: 100vw;

}

#dots {
    background-image: radial-gradient(#a78b20 5px, transparent 5px), radial-gradient(#a78b20 5px, transparent 5px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    font-family: 'Sigmar', cursive;
    height: 90vh;
    width: 90vw;
    border: 3px solid black;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#domicilios{
    position: relative;
}
#mancha {
    width: 70vw;
    height: 3.5em;
}

#number img {
    position: relative;
    top: 0;
}

#number span {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tarjetas{
    margin-top: 5em;
    font-size: 0.8em;
}
#tarjetas-logos{
    margin-top: 1em;
    display: flex;
    width: 70vw;
    justify-content: space-between;
}
#titulo-domicilios{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
#logo-moto{
    height: 2em;
    margin-right: 5px;
}
.logo-red-social{
    height: 1.5em;
    margin-right:5px;
}
.logo-modo-pago{
    height: 2.5em;
    margin-right:5px;
}
#insta{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}